* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgb(70, 7, 70);
    margin: 0 10px;
    height: 150px;
    border-bottom: 3px solid #ccc;
}

.header h1 {
    font-size: 40px;
    color: white;
    text-align: center;
    padding-top: 2%;
    margin: 0;
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}


.header ul {
    list-style-type: none;
    display: flex;
}

.header li {
    margin: 0 25px;
}

.header li a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.header li a:hover {
    font-size: 1.3em;
    color: aquamarine;
}

.footer {
    background-color: rgb(70, 7, 70);
    margin: 0 10px;
    height: 10em;   
    border-top: 3px solid #ccc;
}

.footer h2 {
    position: relative;
    color: white;
    text-align: center;
    top: 2.2em;
}

/*Responsive*/
@media (max-width: 857px) {

    .header {
        height: 205px;
    }

    .header nav {
        padding: 1%;
        height: 125px;
    }

    .header ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 50% 45%;
        height: 120px;
    }

    .header li {
        margin: 0 25px 0 27px;
    }
}

@media (max-width: 640px) {
    .header {
        height: 250px;
    }

    .header nav {
        padding: 1%;
        height: 180px;
    }

    .header ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 100%;
        height: 160px;
    }

    .header li {
        margin: 0 25px 0 27px;
    }
}

@media (max-width: 509px) {
    .header {
        height: 270px;
    }
}