.container {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    background: linear-gradient(to right, rgb(156, 238, 211), rgb(61, 234, 240));
    padding: 0.6%;
}

.container table {
    border-collapse: collapse;
    border: 2px solid #333;
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-color: white;
}

table th {
    padding: 15px;
    border: 2px solid #333;
    background-color: rgb(3, 24, 41);
    color: white;
}

table td {
    padding: 15px;
    border: 2px solid #333;
    background-color: beige;
}

.container table td:nth-child(3),
.container table td:nth-child(4),
.container table td:nth-child(5),
.container table td:nth-child(6),
.container table td:nth-child(7) {
    text-align: center;
}

.container td img {
    position: relative;
    top: 3px;
    right: 10px;
    width: 1.4vw;
}

.container td img:hover {
    width: 1.6vw;
}

.container table td:nth-child(2):hover {
    color: purple;
    text-shadow: 2px 2px 4px red;
}

/*Responsive*/

@media (max-width: 1176px) {
    .container td img {
        width: 6%;
    }
}


@media (max-width: 857px) {
    .container table {
        width: 80%;
    }

    table th {
        padding: 10px;
        font-size: 18px;
    }

    table td {
        padding: 10px;
        font-size: 15px;
    }

    .container td img {
        padding-left: 2%;
        width: 8%;
    }

}

@media (max-width: 699px) { 
    table th {
        padding: 10px;
        font-size: 12px;
    }

    table td {
        padding: 10px;
        font-size: 9px;
    }

    table th:nth-child(:first-child) {
        width: 300px;
    }

    .container td img {
        width: 10%;
    }

}

@media (max-width: 466px) { 
    table th {
        padding: 5px;
        font-size: 11px;
    }

    table td {
        padding: 5px;
        font-size: 8px;
    }

    table th:nth-child(:first-child) {
        width: 270px;
    }

    .container td img {
        padding-left: 9%;
        padding-bottom: 3%;
    }
}

@media (max-width: 410px) {
    table th {
        padding: 3px;
        font-size: 10px;
    }

    table td {
        padding: 3px;
        font-size: 6px;
    }

    table th:nth-child(:first-child) {
        width: 270px;
    }

    .container td img {
        padding-left: 12%;
        padding-bottom: 4%;
    }
}